.categoriesWrapper {
    display: flex;
    flex-wrap: wrap;
}

.categoryTitle, 
.productTitle {
    padding: 8px 24px;
    cursor: pointer;
}

.categoryTitle.selected,
.productTitle.selected {
    font-weight: 700;
}

.hide {
    display: none;
}
.show {
    padding: 0px 24px;
    display: block;
}